*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 900px;
    margin: auto;
    font-size: 100%;
}

header {
    background-color: #4DA2FF;
    background-image: url(../img/pattern.png);
    background-size: 30%;
}

#logo-header {
    margin-top: 30px;
    margin-left: 5px;
    width: 15%;
}

h1{
    margin-top: 10px;
}

#written-by{
    font-size: 85%;
    color: grey;
}

#date{
    font-size: 70%;
    color: grey;
}

.tim{
    height: 300px;
    margin-top: 10px;
}

#credits-foto{
    font-size: 70%;
    margin-top: 2px;
}

.yellow-highlight{
    background-color:yellow;
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
}

ul{
    margin: 20px;
}

table, td, th{
    border-collapse: collapse;
}

#first-col, #second-col{
    width: 25%;
    text-align: left;
}

#third-col{
    width: 50%;
    text-align: left;
}

thead{
    background-color: #1aabe6;
    color: white;
}

.first-row, .third-row{
    background-color: #B2E6F3;
}

.second-row{
    background-color: white; 
    /* si poteva anche lasciare trasparente */
}
